@model List<User>
@{
    ViewData["Title"] = "Информация о пользователях";
    int counter = 0;
}
<partial name="_IconsPartial">
<a class="btn btn-outline-success w-100 mb-2" asp-controller="Auth" asp-action="Register">Зарегистрировать нового</a>
<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-success mb-0">
        <thead>
            <tr>
                <td>№ п/п</td>
                <td>Почта</td>
                <td>Телефон</td>
                <td>Название</td>
                <td>Город/Село</td>
                <td>Регион</td>
                <td>Админ/Работник</td>
                <td>Действия</td>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@user.Login</td>
                    <td>@user.Phone</td>
                    <td>@user.Name</td>
                    @if (user.IsFromCity)
                    {
                        <td>Город</td>
                    }
                    else
                    {
                        <td>Село</td>
                    }
                    <td>@user.Region</td>
                    @if (user.Admin)
                    {
                        <td>Админ</td>
                    }
                    else
                    {
                        <td>Работник</td>
                    }
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-controller="Auth" asp-route-id="@user.Id"><i class="bi bi-pencil-fill"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Auth" asp-route-id="@user.Id"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>