@model List<User>
@{
    ViewData["Title"] = "Информация о пользователях";
    int counter = 0;
}
<partial name="_IconsPartial" />
<a class="btn btn-outline-success w-100 mb-2" asp-controller="Auth" asp-action="Register">Зарегистрировать нового</a>
<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-success mb-0">
        <thead>
            <tr class="cell-centered">
                <th>№ п/п</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>Название</th>
                <th>Город/Село</th>
                <th>Регион</th>
                <th>Админ/Работник</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model)
            {
                counter++;
                <tr class="cell-centered">
                    <td>@counter</td>
                    <td>@user.Login</td>
                    <td>@user.Phone</td>
                    <td>@user.Name</td>
                    @if (user.IsFromCity)
                    {
                        <td>Город</td>
                    }
                    else
                    {
                        <td>Село</td>
                    }
                    <td>@user.Region</td>
                    @if (user.Admin)
                    {
                        <td>Админ</td>
                    }
                    else
                    {
                        <td>Работник</td>
                    }
                    <td class="text-nowrap">
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-controller="Auth" asp-route-id="@user.Id"><i class="bi bi-pencil-fill"></i></a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Auth" asp-route-id="@user.Id"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>